@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Visual Studio HTML Assignment</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>
    <button onclick="myMove()">Click Here to move the square!</button>
</p>
<div id="myContainer">
    <div id="myAnimation"></div>
</div>

<div class="video">
<iframe width="560" height="315" src="https://www.youtube.com/embed/FaKMmwGzmyA?si=TOlx7i23YIvYJQdt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>